.bck-logo {
   background: linear-gradient(#F600BD, #C500B2);
   height: 100vh;
}

.bck-car {
    background-image: url("../../assets/driving-at-night-shutterstock_545359150-768.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
}

img {
   max-width: 100%;
   width: 30%;
}

.line-down {
    border-bottom: 1px solid gainsboro;
}


